body{
    background: black;
}
#main{
    margin-left: 40%;
    margin-top: 2px;
    background: linear-gradient(#fb00ff,#9e0a9e);
    width: 250px;
    height: 390px;
    border: solid 5px;
    border-radius: 10px;

}
#display{
    border-width: 5px;
    margin-left: 18px;
    margin-top: 13px;
    width: 75%;
    height: 41px;
    border-color: blanchedalmond;
    border-radius: 8px;
    font-size: xx-large;
    font-family: sans-serif;
    pointer-events: none;
}
.btn{
    width: 248px;
    height: 334px;
    margin-left: 1px;
}
button{
    width: 37px;
    height: 45px;
    margin-top: 16px;
    background: linear-gradient(#e90eec,#7e087e);
    margin-left: 16px;
    border: solid blanchedalmond;
    border-radius: 34px;
    font-size: 24px;
    font-weight: 600;
    font-family: sans-serif;
}
button:hover{
    cursor: pointer;
    background: linear-gradient(#e90eec,#7e087e);
}